.login-page {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login-page img {
	margin-top: 50px;
	margin-bottom: 50px;
	width: 200px;
}
