footer svg {
	width: 24px;
	height: 24px;
}

footer {
	color: #999493;
	background-color: #333132;
}

@media (max-width: 576px) {
	footer > div {
		flex-direction: column;
	}

	footer .footer-group {
		margin-bottom: 1.5rem;
	}
}
