.banner {
	height: 350px;
}

.banner .image-wrapper {
	width: 100%;
}

.banner .image-wrapper img {
	width: 100%;
	max-height: 100%;
}

.banner .image-wrapper .banner-elements {
	width: 250px;
	position: absolute;
	top: 15%;
	left: 40%;
	color: white !important;
}
